.social{
    height: 40px;
    line-height: 37px;
}

.social i{
    height: 40px !important;
    line-height: 37px !important;
}

.brand.logo
{
    padding: 10px !important;
}

.dropdown-content li>a,
.dropdown-content li>span{
    color:white;
    background-color: #B71C1C;
}

.container{
    width: 85% !important;
}

.filter
{
    padding: 5px 55px;
}